{% extends 'layout.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% from "macros.html" import input, button %}

{% set active_page = 'consulta' %}

{% block page_content %}
    <div class="panel panel-default row">
        <div class="panel-heading">
            Consulta
        </div>
        <div class="panel-body">
            <form method="post" action="#" class="form">
                <div class="col-sm-8">
                    <ul id="subconsulta-tab" class="nav nav-tabs">
                        <li class="active"><a href="#" data-toggle="tab">Consulta 1</a></li>
                        <li><a href="#" data-toggle="tab" id="add-subconsulta">
                            <span class="glyphicon glyphicon-plus"></span></a>
                        </li>
                    </ul>
                    {{ form.csrf_token }}
                    {% for i in range(form.fuente.min_entries) %}
                        <div class="subconsulta">
                            {{ input(form.fuente[i]) }}
                            {{ input(form.columna_filtro[i]) }}
                            {{ input(form.comparador[i]) }}
                            {{ input(form.valor[i]) }}
                        </div>
                    {% endfor %}
                    {{ button(form.submit) }}
                </div>

                <div class="col-sm-4">
                    <b>Descripción</b>
                    <em><span id="descripcion_titulo"></span></em>
                    <p id="descripcion"></p>
                    {{ input(form.columna_mostrar, size=15) }}
                    {{ input(form.max_filas) }}
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('.static', filename='js/consulta.js') }}"></script>
{% endblock %}
