{% extends 'bootstrap/base.html' %}
{% block html_attribs %} lang="es"{% endblock %}
{% block title %}TFG Datos Públicos{% endblock %}
{% block head %}
    {{ super() }}
    <link href="{{ url_for('.static', filename='css/style.css') }}" rel="stylesheet">
    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
{% endblock %}

{# Lista de páginas en el menú #}
{% set navigation_bar = [
    ('index', 'Inicio'),
    ('consulta', 'Consulta'),
    ('https://github.com/IvanArjona/TFG-Datos-publicos/releases/latest', 'Juntar CSV')
] -%}

{# Página por defecto para marcar la pestaña activa en el menú #}
{% set active_page = active_page|default('index') -%}

{# Menú #}
{% block navbar %}
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">TFG Datos Públicos</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse navbar-left">
            <ul class="nav navbar-nav">
                {% for pagina, texto in navigation_bar %}
                <li{% if active_page == pagina %} class="active"{% endif %}>
                    <a href="{{ pagina if pagina.startswith('http') else url_for(pagina) }}">{{ texto }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="collapse navbar-collapse navbar-right">
            <ul class="nav navbar-nav">
                <li><a class="github-mark" href="https://github.com/IvanArjona/TFG-Datos-publicos"> Github</a></li>
            </ul>
        </div>
    </div>
</nav>

{% endblock %}

{% block content %}

    <div class="container">
    {# Alertas #}
    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
    {% endfor %}

    {# Contenido #}
    {% block page_content %}{% endblock %}
    </div>
{% endblock %}