{# Campos de entrada #}
{% macro input(e) %}
<div class="form-group">
    {{ e.label }} {{ e(class="form-control", **kwargs) }}
</div>
{% endmacro %}

{# Botones de formularios #}
{% macro button(btn, clase='btn btn-default') %}
<div class="form-group">
    {{ btn(class=clase, **kwargs) }}
</div>
{% endmacro %}

{# Botón para descargar la consulta en cierto formato #}
{% macro descarga_consulta(formato) %}
<a class="btn btn-default" href="{{ url_for('descarga_consulta', formato=formato) }}">{{ formato }}</a>
{% endmacro %}