{% extends 'layout.html' %}
{% from "macros.html" import descarga_consulta %}

{% block head %}
    {{ super() }}
    <link href="//cdnjs.cloudflare.com/ajax/libs/Dynatable/0.3.1/jquery.dynatable.min.css" rel="stylesheet">
{% endblock %}

{% set active_page = 'consulta' %}

{% block page_content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            Consulta
        </div>
        <div class="panel-body">
            <div class="consulta-top">
                Descarga la consulta:
                {{ descarga_consulta('csv') }}
                {{ descarga_consulta('json') }}

                {% if columnas_numericas %}
                <div class="btn-group pull-right" style="display: inline">
                    <div class="btn-group">
                        <select id="metodo-mapa" class="btn btn-primary form-control" style="display: inline">
                            <option selected>mean</option>
                            <option>sum</option>
                            <option>count</option>
                        </select>
                    </div>
                    <div id="visualiza-mapa" class="dropdown btn-group" style="display: inline">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                            Visualizar mapa
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            {% for columna in columnas_numericas %}
                                <li><a href="{{ url_for('visualiza_mapa', metodo='mean', columna=columna) }}">{{ columna }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endif %}
            </div>

            <div class="scrollable">
                {{ datos.to_html(classes=['table', 'table-bordered', 'table-striped', 'table-hover', 'table-condensed'])|safe }}
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('.static', filename='js/resultados-consulta.js') }}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/Dynatable/0.3.1/jquery.dynatable.min.js"></script>
{% endblock %}